<% layout("/layouts/boilerplate") -%>
    <div class="filters">
        <div class="carousel-container">
            <button class="arrow-btn left-btn" id="slideLeft">&#10094;</button>
            <div id="scroll-wrapper" class="scroll-wrapper mt-4 mb-3">
                <div class="filter">
                    <i class="fa-solid fa-fire"></i>
                    <p class="small">Trending</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-bed"></i>
                    <p class="small">Rooms</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-building-wheat"></i>
                    <p class="small">Farms</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-umbrella-beach"></i>
                    <p class="small">Beach</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-panorama"></i>
                    <p class="small">Breathtaking</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-archway"></i>
                    <p class="small">Iconic cities</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-ferry"></i>
                    <p class="small">Ferry</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-house-chimney-window"></i>
                    <p class="small">Cabins</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-baseball"></i>
                    <p class="small">Sports</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-water-ladder"></i>
                    <p class="small">Pools</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-person-skiing"></i>
                    <p class="small">Skiing</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-plane-departure"></i>
                    <p class="small">International</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-gamepad"></i>
                    <p class="small">E-sports</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-mountain-sun"></i>
                    <p class="small">Mountains</p>
                </div>
                <div class="filter">
                    <i class="fa-brands fa-fort-awesome"></i>
                    <p class="small">Castles</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-campground"></i>
                    <p class="small">Camping</p>
                </div>
            </div>
            <button class="arrow-btn right-btn" id="slideRight">&#10095;</button>
        </div>

        <div class="form-check form-switch tax-toggle">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display Taxes</label>
        </div>
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for (let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="listing-card col">
                    <img src=" <%=listing.image.url %>" class="listing-card-img-top" alt="..." style="height: 20rem;">
                    <div class="listing-card-img-overlay"></div>
                    <div class="listing-card-body">
                        <h5 class="listing-card-title">
                            <%= listing.title %>
                        </h5>
                        <p>&#x20B9; <%= listing.price.toLocaleString("en-IN") %> / night <i class="tax-info">+18% GST</i></p>
                        <p class="listing-card-text">
                            <%= listing.description %>
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>